body{
color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
font-size: 5.63rem;
  font-family:fantasy;
  margin: 3.12% auto 0 auto;
  color: #eaf6f6;
  line-height: 2;
  width: 50%;
  padding: auto;

}
h1:hover{
  color: #66BFBF;

}
h2{
  font-family: 'Montserr9t', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
  color: #eaf6f6;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  color: grey;
  margin-top: 60px;

}
p{
  line-height: 2;
}

.about{
  width:30%;
  margin: auto;
}
.me{
font-weight: lighter;
}
 .skills{
  display: inline;

}
.skill-row{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.skill-img1{
  width: 25%;
  border-radius:50%;
  float: left;
  margin-right: 30px;
}
.skill-img2{
  width: 25%;
  border-radius:50%;
  float: right;
  margin-left: 30px;
}
.skill-img3{
    width: 25%;
    border-radius:50%;
    float: left;
    margin-right: 30px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 400px;
top:40px;


}
.copyright{
  color:#eaf6f6;
  font-size:0.75rem;
  padding: 20px 0 20px 0;
}
.quote{
  margin: 40px auto 40px auto;
}

.pro{
  text-decoration: underline;
}
.top-container{
  background-color: #7ed6df;
  position: relative;
  padding-top: 100px;
  padding-bottom:100px;
}
.header{
  display: inline;
  margin-top: 100%;
}

}
.middle-container{
margin: 100px 0;

}
.bottom-container{
  background-color:  #66BFBF;
  padding: 50px 0 20px;


}
.footer-link{

}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #119993);
  background-image: -moz-linear-gradient(top, #11cdd4, #119993);
  background-image: -ms-linear-gradient(top, #11cdd4, #119993);
  background-image: -o-linear-gradient(top, #11cdd4, #119993);
  background-image: linear-gradient(to bottom, #11cdd4, #119993);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
